Source: sudoers-sidux
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sudoers-sidux
Architecture: all
Pre-Depends: distro-defaults
Depends: sudo
Conflicts: sudoers-kanotix
Description: /etc/sudoers for the sidux user
 sudoers template for life uses.
